@import "../node_modules/normalize-scss/sass/normalize/import-now";
@import "colors.scss";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  color: $text;
  background-color: $white;
  min-width: 22rem; // 352px
}
ul {
  list-style: none;
}
a {
  color: $blue;
  text-decoration: none;
}
