@import "colors.scss";
@import "breakpoints.scss";

.bwr-header {
  &__nav {
    display: flex;
    gap: 1rem;
    @include laptop {
      gap: 2rem;
    }
    li {
      &.active,
      &.active-link,
      &:hover {
        border-bottom: 3px solid $lightblue;
        margin-top: -3px;
      }
    }
  }
}
